<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href="~/Content/plugins/bootstrap/css/bootstrap.min.css" />

    <!-- Core css -->
    <link rel="stylesheet" href="~/Content/css/main.css" />
    <link rel="stylesheet" href="~/Content/css/theme1.css" />



</head>
<body class="font-montserrat">

    @RenderBody()


    <script src="~/Scripts/bundles/lib.vendor.bundle.js"></script>
    <script src="~/Scripts/js/core.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
